body {
    margin: 0;
    padding: 0 10%;
    box-sizing: border-box;
    color: #292e31;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.3;
    background-color: #c3d1da;
    background: linear-gradient(#c3d1da, rgb(202, 180, 202));
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
    max-width: 1200px;
    margin: 0% auto;
}

.title {
    margin-top: 30px;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 2;
    color: #68afdb;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px rgb(202, 36, 188), 0 0 .2em rgb(83, 15, 138);
}

.image {
    display: block;
    margin: 0 auto 25px;
    width: 500px;
    border: 6px solid #62b1e2;
    box-shadow: 4px 5px 5px #c46bee;
    border-radius: 5px;
}

.aboutMe {
    text-indent: 1.5em;
}

.formCity {
    margin: 15px;
    padding: 8px 10px;
    width: 150px;
    border: aqua solid 1px;
    background: #68afdb;
    border-radius: 5px;
    color: #0a3a58;
    outline: none;
    box-shadow: 4px 5px 5px #c46bee;
    cursor: pointer;
}

.formCity:hover {
    opacity: .8;
}

.section {
    padding: 20px 100px;
}

.subtitle {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
    color: #c46bee;
    font-family: 'Roboto', sans-serif;
}

.flaticon {
    margin: 0px;
}

.flaticon>li {
    padding-left: 30px;
    padding-top: 12px;
    list-style: none;
    background: url(icon/pawprint.svg) no-repeat 0 8px;
}

.flaticon :first-child {
    color: #5799f0;
}

.instruction {
    margin: 0px;
    padding-left: 58px;
}

.instruction>li {
    padding-left: 8px;
    padding-top: 8px;
}

.instruction>li:nth-child(2) {
    color: rgb(103, 101, 216);
}

.skills {
    margin: 10px 0 20px;
    padding-left: 38px;
}

abbr {
    text-decoration: none;
}

.skills>input {
    margin-top: 8px;
    margin-right: 18px;
}

.skills .add {
    width: 150px;
    height: 20px;
    border: none;
    margin-top: 10px 0;
    padding: 10px 30px;
    border-radius: 5px;
    display: block;
    border: aqua solid 1px;
    background-color: rgb(233, 228, 221);
}

.add:hover {
    box-shadow: 4px 5px 5px #c46bee;
}

.add:focus {
    width: 147px;
    height: 16px;
    border: 3px solid rgb(207, 87, 123);
    outline: none;
}

a {
    margin: 35px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: red;
}

a:hover {
    color: #520655;
}

.table {
    border-collapse: collapse;
    font-style: italic;
}

td, tr, th {
    padding: 5px 20px;
    border: 2px dotted rgb(174, 133, 184);
}

th {
    align-items: center;
    background: #c46bee;
}

.btn {
    margin: 30px 30px;
    padding: 15px 50px;
    background: linear-gradient(to top, #30023b, #c028ac);
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 4px 5px 5px #8365f0;
}

.btn:hover {
    opacity: .7;
}

/* @media 665 */

@media (max-width: 665px) {
    
    .title {
        margin: 20px 20px 10px;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 1.5px;
        line-height: 1.2;
    }
    .image {
        margin: 0 auto 15px;
        width: 400px;
    }
    .aboutMe {
        text-indent: 1.5em;
        font-size: 13px;
        line-height: 1.5;
    }
    .section {
        padding: 20px 50px;
    }
    .subtitle {
        font-size: 18px;
    }
    .table {
        margin: auto;
    }
    .btn {
        display: block;
        margin: 20px auto;
    }
}

    /* @media 520 */

    @media (max-width: 520px) {
        .title {
            font-size: 16px;
        }
        .image {
            margin: 0 auto 15px;
            width: 230px;
        }
        .aboutMe {
            margin-bottom: 20px;
            max-width: 300px;
            text-indent: 1.5em;
            font-size: 13px;
            line-height: 1.5;
        }
        .section {
            padding: 20px 50px;
        }
        .subtitle {
            font-size: 16px;
        }
        .skills .add {
            width: 130px;
            height: 15px;
            margin-top: 5px 0;
            padding: 10px;
        }
        .table {
            width: auto;
            height: auto;
            
        }
        .table  td, th{
            padding: 5px;
        }

    }